@import 'var';



//removing defaults 
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


*{
    margin-block-start: 0;
    margin-block-end: 0;
}


//section colours
nav, .reviews, footer{
    background-color: $light-grey;
    
}

.about, .prices, .credit{
    background-color: $dark-grey;
    padding-bottom: 2em;
}




//fonts
  h1,h2 {
    font-family: main-font;
    color: black;
 }

 h3, p, li, a{
     font-family: body-font;
     color: black;
 }


 //buttons
 .cta-buttons{
     padding: 0.8em;
     border-radius: 5px;
     background-color: $light-purple;
     border: solid 1px black;
     text-decoration: none;
 }


 header{
    min-height: 50vh;
    /* make the header a sensible height */
    display: flex;
    justify-content: center;
    /* turn on flexbox for our text and center it horizontally and vertically */
    overflow: hidden;
    /* don't allow the video to show outside the box */
    position: relative;
    /* create a 'positioning context' for our video and sm */  }

header img{
    position: absolute;
    /*Has to be set to this to allow Z Index to work*/
    width: 100%;
    height: 100%;
    object-fit: fill; 
    opacity: 0.5;
}

header .main-banner {
    position: relative;
    z-index: 1;
    /* turn on positioning to allow us to 'stack' the header on top of the video */
    width: 100%;
    flex-direction: column;
    text-align: left;
}

nav{
    display: flex;
    justify-content: flex-end;
    
}


.nav-cta-buttons{
    margin-top: auto;
    margin-bottom: auto;

}


h2{
    padding-top: 2em;
    text-align: center;
}

p{
margin-left: 3em;
margin-right: 3em;


}





.about-text{
    margin-bottom: 3em;
}

.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

.photo-updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3em;
}

.central-text{
    text-align: center;
}

.animal-images{
    margin-bottom: 1em;
}

.rabbit, .pig, .hamster, .budgie{
    margin-bottom: 3em;
}

.contact-details li{
    margin-bottom: 2em;
    list-style-type: none;
}



footer li  * {

    display: flex;
    align-items: center;
}


  


    footer{
        overflow: hidden;
display: flex;  
flex-direction: column;
justify-content: center;
align-items: center;  }


    .contact-details {

        img{
            width: 30px;
            margin-right: none;
        }

        p{
            margin-left: 1em;
        }

    }
  

    .credit {
        width: 100%;
    }