@font-face {
  font-family: main-font;
  src: url(../fonts/baskvl.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: body-font;
  src: url(../fonts/hoefler.woff); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0; }

nav, .reviews, footer {
  background-color: #eceeec; }

.about, .prices, .credit {
  background-color: #c4b9cf;
  padding-bottom: 2em; }

h1, h2 {
  font-family: main-font;
  color: black; }

h3, p, li, a {
  font-family: body-font;
  color: black; }

.cta-buttons {
  padding: 0.8em;
  border-radius: 5px;
  background-color: #cc99cc;
  border: solid 1px black;
  text-decoration: none; }

header {
  min-height: 50vh;
  /* make the header a sensible height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* turn on flexbox for our text and center it horizontally and vertically */
  overflow: hidden;
  /* don't allow the video to show outside the box */
  position: relative;
  /* create a 'positioning context' for our video and sm */ }

header img {
  position: absolute;
  /*Has to be set to this to allow Z Index to work*/
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  opacity: 0.5; }

header .main-banner {
  position: relative;
  z-index: 1;
  /* turn on positioning to allow us to 'stack' the header on top of the video */
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav-cta-buttons {
  margin-top: auto;
  margin-bottom: auto; }

h2 {
  padding-top: 2em;
  text-align: center; }

p {
  margin-left: 3em;
  margin-right: 3em; }

.about-text {
  margin-bottom: 3em; }

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3em; }

.photo-updates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 3em; }

.central-text {
  text-align: center; }

.animal-images {
  margin-bottom: 1em; }

.rabbit, .pig, .hamster, .budgie {
  margin-bottom: 3em; }

.contact-details li {
  margin-bottom: 2em;
  list-style-type: none; }

footer li * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

footer {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-details img {
  width: 30px;
  margin-right: none; }

.contact-details p {
  margin-left: 1em; }

.credit {
  width: 100%; }
